@model ICollection<Bnbooking.Models.BedType>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <table class="striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var bedtype in Model)
          {
            <tr data-id="bedtype-@bedtype.Id">
              <td>@bedtype.Name</td>
              <td>@bedtype.Description</td>
              <td>@bedtype.CreatedAt</td>
              <td>
                <a asp-controller="BedType" asp-action="Edit" asp-route-id="@bedtype.Id">
                  <i class="material-icons" role="presentation">edit</i>
                </a>
                @if (@bedtype.DeletedAt != null)
                {
                    <a asp-controller="BedType" asp-action="Delete" asp-route-id="@bedtype.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="BedType" asp-action="Delete" asp-route-id="@bedtype.Id" asp-route-actionType="4">
                      <i class="material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="BedType" asp-action="Delete" asp-route-id="@bedtype.Id" asp-route-actionType="3">
                  <i class="material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No Bedtypes in the database!</p>
}
</div>