<div class="card blue-grey darken-1">
    <div class="card-content white-text">
        <span class="card-title">Overview</span>
        <p>@ViewBag.Description</p>
    </div>
    <div class="card-action">
        <a asp-controller="BedType" asp-action="Index"><i class="material-icons">list</i><span>List of items</span></a>
        <a asp-controller="BedType" asp-action="Create"><i class="material-icons">add</i><span>Create a new item</span></a>
    </div>
    </div>
</div>
