@model ICollection<Bnbooking.Models.BedType>
@{
    ViewBag.Title = "Bed Type Management";
    ViewBag.SubTitle = "Manage all your bedtypes via this platform";
    ViewBag.Description = "Select a bedtype to edit ...";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
   <div class="bnb-card">
        <h2 class="title">List of bed types</h2>       
        @Html.Partial("_ListPartial", @Model)
    </div>