@model ICollection<Bnbooking.Models.Service>
@Html.AntiForgeryToken()
		@if (Model != null && Model.Count() > 0)
		{
       <form asp-controller="service" asp-action="Index" method="get">
        <div class="row">
          <div class="col s3">
            <input class="input-field " type="text" name="searchString" id="searchString" placeholder="Search...">
          </div>
          <button type="submit" class="waves-effect waves-light btn">Search</button>
        </div>
      </form>
      <table class="striped"> 
        <thead>
          <tr>
            <th><a asp-controller="service" asp-action="Index" asp-route-sortParam="@ViewBag.NameSortParam">Name</a></th>
            <th><a asp-controller="service" asp-action="Index" asp-route-sortParam="@ViewBag.DescriptionSortParam">Description</a></th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
           @foreach (var service in Model)
          {
            <tr data-id="service-@service.Id">
              <td>@service.Name</td>
              <td>@service.Description</td>
              <td>@service.CreatedAt</td>
              <td>
                <a asp-controller="service" asp-action="Edit" asp-route-id="@service.Id">
                  <i class="material-icons" role="presentation">edit</i>
                </a>
                @if (@service.DeletedAt != null)
                {
                    <a asp-controller="service" asp-action="Delete" asp-route-id="@service.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="service" asp-action="Delete" asp-route-id="@service.Id" asp-route-actionType="4">
                      <i class="material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="service" asp-action="Delete" asp-route-id="@service.Id" asp-route-actionType="3">
                  <i class="material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
      }
      else
      {
          <p>No Services in the database!</p>
      }
</div>