@model Bnbooking.Models.Service
@{
    ViewBag.Title = "Service Management";
    ViewBag.SubTitle = "Manage all your groups via this platform";
    ViewBag.Description = "Create an services via the form or got back to the list of services ...";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
<div class="bnb-card">
    <h2 class="title">Create a Service</h2>
          <div class="form-holder">
            <form asp-controller="Service" asp-action="Create" method="post" asp-antiforgery="true">
                <label asp-for="Name">Name</label>
                <input class="input-field" asp-for="Name">
                
                <input class="input-field" asp-for="Description">
                <label asp-for="Description">Description</label>

                <button type="submit" class="waves-effect waves-light btn">Create</button>
            </form>
          </div>
        </div>
    </div>
</div>