@model Bnbooking.Models.Service
@{
    ViewBag.Title = "Service Management";
    ViewBag.SubTitle = "Manage all the Services on your SAAS platform";
    ViewBag.Description = "Edit an existing Service via the form or go back to the list of Services.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
        <div class="bnb-card">
            <h2 class="title">Edit an existing Service</h2>
          <div class="form-holder">
            <form asp-controller="Service" asp-action="Edit" method="post" asp-antiforgery="true">
                <input asp-for="Id" type="hidden">
                    <label asp-for="Name">Name</label>
                    <input class="input-field" asp-for="Name">
                    
                    <label asp-for="Description">Description</label>
                    <input class="input-field" asp-for="Description">
                    
                <button type="submit" class="waves-effect waves-light btn">Save</button>
            </form>
          </div>
        </div>
    </div>
</div>