@model ICollection<Bnbooking.Models.Service>
@{
    ViewBag.Title = "Service Management";
    ViewBag.SubTitle = "Manage all the Services on your SAAS platform";
    ViewBag.Description = "Select a Service to edit or select multiple Services to do export functions or mass asignment to them";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
    <div class="bnb-card">
        <h2 class="title">List of Services</h2>       
        @Html.Partial("_ListPartial", @Model)
    </div>