@model ICollection<Bnbooking.Models.Place>
</div>
<div class="content">
       <section>
        @if(ViewBag.title == null)
        {
            <h1 class="title">Popular Places</h1> 
        }else
        {
            <h1 class="title">@Model.First().City.Name</h1>  
        }
                        
        
        <div class="wrap">
            <div class="grid grid-pad">                
                    @foreach (var place in Model)
                    {                       
                       <!-- <a href="/place?id=@place.Id"> -->
                        <a asp-controller="place" asp-action="Detail" asp-route-id="@place.Id">
                            
                        
                        <div class="col-1-3">
                            <div class="content nopadding nooverflow">
                                <img class="img-city" src="http://www.pacinno.eu/wp-content/uploads/2014/05/placeholder-Copy.png">
                                <h3 class="imtext left">@place.Name</h3>
                                <p>@place.Description</p>
                            </div>                
                        </div>                 
                       </a>
                    }
            </div>
           
        </div>
    </section>
</div> 
