<style>
  .flow-text{
    color:#b4ea1f;
  }
  .card-panel{
    background-color:#243e4e;
    margin-top: 0px;
    height: 176px;
  }
  .input-field{
    margin-top:40px;
    width: 100%;
  }
  .mdl-layout__header{
    background-color: white;
  }
  small {
    color:black;
  }
</style>
<header class="mdl-layout__header">
  <div class="card-panel">
    <span class="flow-text">BnBooking <small>Application</small></span>
    <div class="mdl-layout-spacer"></div>
    <form class="col s12">   
      <div class="input-field inline">
        <input id="email" type="text" class="validate">
        <label for="email" data-error="wrong" data-success="right"><i class="material-icons">search</i></label>
      </div>
    </form>
</header>
