<style>
  .side-nav {
    width: 255px;
    margin-left:-15px;
  }
</style>  
<ul class="side-nav fixed">
     <li><div class="userView">
      <div class="background">
        <img src="~/images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="~/images/user.jpg"></a>
      <a href="#!name"><span class="white-text name">Simon Hoornaert</span></a>
      <a href="#!email"><span class="white-text email">simohoor@student.arteveldehs.be</span></a>
      </div></li>
      <li><a asp-controller="Home" asp-action="Index"><i class="material-icons">equalizer</i>Home</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">BnBooking</a></li>
      <li><a asp-controller="Place" asp-action="Index"><i class="material-icons">room</i>Places</a></li>
      <li><a asp-controller="City" asp-action="Index"><i class="material-icons">business</i>Cities</a></li>
      <li><a asp-controller="Service" asp-action="Index"><i class="material-icons">settings_remote</i>Services</a></li>
      <li><a asp-controller="BedType" asp-action="Index"><i class="fa fa-bed fonticon"></i>Bedtypes</a></li>
      <li><a asp-controller="CancelType" asp-action="Index"><i class="material-icons">no_sim</i>CancelTypes</a></li>
      <li><a asp-controller="Discount" asp-action="Index"><i class="fa fa-tags fonticon"></i>Discounts</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Users</a></li>
      <li><a asp-controller="Person" asp-action="Index"><i class="material-icons">recent_actors</i>All Users</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">My Account</a></li>
      <li><a asp-controller="Profile" asp-action="Index"><i class="material-icons">assignment_ind</i>View Profile</a></li>
      <li><a asp-controller="" asp-action="Index"><i class="material-icons">assignment</i>Settings</a></li>
      <li><a asp-controller="" asp-action="Index"><i class="material-icons">settings_power</i>Log out</a></li>

</ul>

  