@model ICollection<Bnbooking.Models.Discount>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <table class="striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Percentage</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var discount in Model)
          {
            <tr data-id="discount-@discount.Id">
              <td>@discount.Name</td>
              <td>@discount.Description</td>
              <td>@discount.Percentage</td>
              <td>
                <a asp-controller="Discount" asp-action="Edit" asp-route-id="@discount.Id">
                  <i class="material-icons" role="presentation">edit</i>
                </a>
                @if (@discount.DeletedAt != null)
                {
                    <a asp-controller="Discount" asp-action="Delete" asp-route-id="@discount.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="Discount" asp-action="Delete" asp-route-id="@discount.Id" asp-route-actionType="4">
                      <i class="material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="Discount" asp-action="Delete" asp-route-id="@discount.Id" asp-route-actionType="3">
                  <i class="material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No discounts in the database!</p>
}
</div>