@model Bnbooking.Models.Discount
@{
    ViewBag.Title = "Discount Management";
    ViewBag.SubTitle = "Manage all the Discount on your SAAS platform";
    ViewBag.Description = "Edit an existing Discount via the form or go back to the list of Discount.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
        <div class="bnb-card">
            <h2 class="title">Edit an existing Discount</h2>
          <div class="form-holder">
            <form asp-controller="Discount" asp-action="Edit" method="post" asp-antiforgery="true">
                <input asp-for="Id" type="hidden">
                    <label asp-for="Name">Name</label>
                    <input class="input-field" asp-for="Name"></br>
                        
                    <label asp-for="Description">Description</label>
                    <input class="input-field" asp-for="Description"></br>  

                    <label asp-for="Description">Percentage</label>
                    <input class="input-field" asp-for="Percentage"></br>        

                <button type="submit" class="waves-effect waves-light btn">Save</button>
            </form>
          </div>
        </div>
    </div>
</div>