@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<h1 class="title">@ViewData["Title"]</h1>
<div class="content">
    <div class="wrap">
        <div class="grid grid-pad">
        
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div class="center">
                    <div class="login80">        
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <br>
                    
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <div class="">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="-label"></label>
                            <div class="">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <div class="checkbox">
                                    <input asp-for="RememberMe" />
                                    <label asp-for="RememberMe">                                        
                                    </label>
                                    
                                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="center">
                    <button type="submit" class="btn btn-default center">Log in</button>
                </p>
                <p class="center">
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                </p>
                <p class="center">
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                </p>
            </form>
        
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
