@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="title">@ViewData["Title"]</h1>
<div class="content">
    <div class="wrap">
        <div class="grid grid-pad">
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div class="center">
                    <div class="login80">
                    
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <div class="">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <div class="">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="-label"></label>
                            <div class="">
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <br>
                    <p class="center">
                        <button type="submit" class="btn btn-default">Register</button>
                    </p>
                    </div>
                </div>
            </form>

            @section Scripts {
                @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            }
        </div>
    </div>
</div>
