@model Bnbooking.Models.CancelType
@{
    ViewBag.Title = "CancelType Management";
    ViewBag.SubTitle = "Manage all your groups via this platform";
    ViewBag.Description = "Create an CancelTypes via the form or got back to the list of CancelTypes ...";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
<div class="bnb-card">
    <h2 class="title">Create a CancelType</h2>
          <div class="form-holder">
            <form asp-controller="CancelType" asp-action="Create" method="post" asp-antiforgery="true">
                    <label asp-for="Name">Name</label>
                    <input class="input-field" asp-for="Name">

                    <label asp-for="Description">Description</label>
                    <input class="input-field" asp-for="Description">

                <button type="submit" class="waves-effect waves-light btn">Create</button>
            </form>
          </div>
        </div>
    </div>
</div>