@model ICollection<Bnbooking.Models.CancelType>
@{
    ViewBag.Title = "Cancel Type Management";
    ViewBag.SubTitle = "Manage all your CancelTypes via this platform";
    ViewBag.Description = "Select a CancelType to edit ...";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
   <div class="bnb-card">
        <h2 class="title">List of cancel types</h2>       
        @Html.Partial("_ListPartial", @Model)
    </div>