@{
    ViewData["Title"] = "Contact";
}
<h1 class="title">@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>

<div class="content">
    <div class="wrap">
        <div class="grid grid-pad">  
        <address>
            <p>BnBooking</p>
            <p>Rooiegemlaan 211, 9000 Gent</p>
            <abbr title="Phone">Telefoon:</abbr>
            09 378 34 95
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Bnbooking@info.com</a><br />
        </address>
        </div>
    </div>
</div>
