@model ICollection<Bnbooking.Models.City>
<div class="content">
    <div class="filters">
<div class="grid grid-pad">
    <div class="col-1-1">
        <form asp-controller="Place" asp-action="" method="POST" asp-antiforgery="true">
            <div class='row'>
                <input type="text" class="search" name="search" placeholder="Search..">

                <select>
                    <option value="" disabled selected>Amount of guests</option>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
                <!--<select asp-for="Place.RentalTypeId" asp-items="Model.RentalTypes"> -->         
                </select>
            </div>
            <br>
            <div class="row">
                <label for="arrival">arrival</label>
                <input id="arrival" type="date" name="arrival" class="arrival" placeholder="arrival">
                
                <label for="departure">departure</label>
                <input id="departure" type="date" name="departure" class="departure" placeholder="departure">

                <label for="price_from">price from:</label>
                <input id="pricefrom" type="text" name="price_from">

                <label for="price_to">to:</label>
                <input id="priceto" type="text" name="price_to">
            </div>
        </form>
    </div>
</div>
    </div>
    <section>
        <h1 class="title">Popular locations</h1>         
        
        <div class="wrap bg">            
            <input type="checkbox" class="read-more-state" id="post-2" />   
           
                <label for="post-2" class="read-more-trigger moreless"></label> 
               
            <div class="grid grid-pad bg read-more-wrap">                                            
                 
                @{ int i = 0;}
            
                    @foreach (var city in Model)
                    {             
                        @if(i > 2)
                        {                                                     
                                <a href="/place?id=@city.Id" class="read-more-target"> 
                                    <div class="col-1-3 read-more-target">
                                        <div class="content nopadding nooverflow">
                                            <img class="img-city" src="@city.ImageUrl">
                                            <h3 class="imtext left">@city.Name</h3 >
                                        </div>                
                                    </div>                 
                                </a>                           
                        }
                        else
                        {
                            <a href="/place?id=@city.Id"> 
                                <div class="col-1-3">
                                    <div class="content nopadding nooverflow">
                                        <img class="img-city" src="@city.ImageUrl">
                                        <h3 class="imtext left">@city.Name</h3>
                                    </div>                
                                </div>                 
                            </a>
                        }
                     i++;
                    }                             
            </div>                    
        </div>
    </section>
</div>
