@model ICollection<Bnbooking.Models.Person>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <form asp-controller="Person" asp-action="Index" method="get">
        <div class="row">
          <div class="col s3">
            <input class="input-field " type="text" name="searchString" id="searchString" placeholder="Search...">
          </div>
          <button type="submit" class="waves-effect waves-light btn">Search</button>
        </div>
      </form>
      <table class="striped">
        <thead>
          <tr>
            <th><a asp-controller="Person" asp-action="Index" asp-route-sortParam="@ViewBag.FirstNameSortParam">FirstName</a></th>
            <th><a asp-controller="Person" asp-action="Index" asp-route-sortParam="@ViewBag.SurNameSortParam">SurName</a></th>   
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var person in Model)
          {
            <tr data-id="person-@person.Id">
              <td>@person.FirstName</td>
              <td>@person.SurName</td>
              <td>@person.CreatedAt</td>
              <td>
                <a asp-controller="Person" asp-action="Edit" asp-route-id="@person.Id">
                  <i class="material-icons" role="presentation">edit</i>
                </a>
                @if (@person.DeletedAt != null)
                {
                    <a asp-controller="Person" asp-action="Delete" asp-route-id="@person.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="Person" asp-action="Delete" asp-route-id="@person.Id" asp-route-actionType="4">
                      <i class="material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="Person" asp-action="Delete" asp-route-id="@person.Id" asp-route-actionType="3">
                  <i class="material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No Persons in the database!</p>
}
</div>