@model Bnbooking.Models.Person
@{
    ViewBag.Title = "User Management";
    ViewBag.SubTitle = "Manage all your users via this platform";
    ViewBag.Description = "Create an user via the form or got back to the list of users ...";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
<div class="bnb-card">
    <h2 class="title">Create a User</h2>
          <div class="form-holder">
            <form asp-controller="Person" asp-action="Create" method="post" asp-antiforgery="true">
                <div class="input-field">
                    <input class="input-field" asp-for="FirstName">
                    <label asp-for="FirstName">FirstName</label>
                </div>
                <div class="input-field">
                    <input class="input-field" asp-for="SurName">
                    <label asp-for="SurName">SurName</label>
                </div>
                <button type="submit" class="waves-effect waves-light btn">Save</button>
            </form>
          </div>
        </div>
    </div>
</div>