@model Bnbooking.Models.ViewModels.ActionPersonViewModel
@{
    ViewBag.Title = "User Management";
    ViewBag.SubTitle = "Manage all the users on your SAAS platform";
    ViewBag.Description = "Create an user via the form or go back to the list of users.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
<div class="bnb-card">
            <h2 class="title">@Model.Action an existing Person</h2>
          <div class="form-holder">
            <p>Do you wish to @Model.Action the Person @Model.FirstName?</p>
            <form asp-controller="Person" asp-action="Delete" method="post" asp-antiforgery="true">
                <input asp-for="Id" type="hidden">
                <input asp-for="FirstName" type="hidden">
                <input asp-for="ActionType" type="hidden">
                <button type="submit" class="waves-effect waves-light btn">@Model.Action</button>
            </form>
          </div>
        </div>
    </div>
</div>