@model Bnbooking.Models.Person
@{
    ViewBag.Title = "User Management";
    ViewBag.SubTitle = "Manage all the Users on your SAAS platform";
    ViewBag.Description = "Edit an existing user via the form or go back to the list of users.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
        <div class="bnb-card">
            <h2 class="title">Edit an existing User</h2>
          <div class="form-holder">
            <form asp-controller="Person" asp-action="Edit" method="post" asp-antiforgery="true">
                <input asp-for="Id" type="hidden">
                <div class="input-field">
                    <input class="input-field" asp-for="FirstName">
                    <label asp-for="FirstName">FirstName</label>
                </div>
                <div class="input-field">
                    <input class="input-field" asp-for="SurName">
                    <label asp-for="SurName">SurName</label>
                </div>
                <button type="submit" class="waves-effect waves-light btn">Update</button>
            </form>
          </div>
        </div>
    </div>
</div>