@model ICollection<Bnbooking.Models.Person>
@{
    ViewBag.Title = "User Management";
    ViewBag.SubTitle = "Manage all your users via this platform";
    ViewBag.Description = "Select an user to edit ...";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
   <div class="bnb-card">
        <h2 class="title">List of users</h2>       
        @Html.Partial("_ListPartial", @Model)
    </div>