<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication</title>

    <environment names="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
    </environment>
</head>
<body>
    <header id="header" class="alt">
				<div class="grid grid-pad">
                    <div class="col-1-1">
                        <div id="pattern" class="pattern">
                            <div class="full">
                                <div class="logotoggle">
                                    <h1><strong><a id="bnb" href="/">BnB</strong>ooking</a></h1>
                                </div>                                
                                <a href="#menu" class="menu-link"><i class="fa fa-bars fa-2x"></i></a>
                            </div>
                        
                        <nav id="menu" role="navigation" class="">
                            <ul>
                                <li><h1><strong><a id="bnb" href="/">BnB</strong>ooking</a></h1></li>  
                                <li><a href="/manage">Edit account</a></li>                  
                                <li><a href="/account/register">Register</a></li>
                                <li><a href="/account/Login">Login</a></li>
                                <li><a href="/home/contact">Contact</a></li>  
                                <li><a href="/place">Places</a></li>                                
                            </ul>
                        </nav>
                    </div>
                    </div>
				</div>
	</header>
    <div class="container body-content">
        
                 @RenderBody()
      
      <footer id="footer">
          <div class="footercontent">          
            <div class="grid grid-pad">
                <div class="row">
                    <div class="col-1-3">
                        <div class="content nopadding">
                            <h1 class="center"><a href="/"><strong id="footerbnb">BnB</strong>ooking</a></h1>
                                <a class="center" href="/manage"><p>Edit account</p></a>                 
                                <a class="center" href="/account/register"><p>Register</p></a>
                                <a class="center" href="/account/Login"><p>Login</p></a>
                                <a class="center" href="/home/contact"><p>Contact</p></a>
                                
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="content nopadding">
                            <h1 class="center">Ontdekken</h1>
                            <a class="center" href="/place"><p>Places</p></a>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="content nopadding">
                            <h1 class="center">Verhuren</h1>
                        </div>
                    </div>
                </div>                
            </div>
            <hr>
            <div class="grid grid-pad">                
                <div class="col-1-1">
                <div class="content nopadding">
                    <h3 class="center">&copy Bnbooking 2016 - All Rights Reserved</h3>
                </div>
                </div>
            </div>
        </div>
            
         
                  
    </footer>
    </div>

    <environment names="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
