@model ICollection<Bnbooking.Models.Place>
@Html.AntiForgeryToken()
		@if (Model != null && Model.Count() > 0)
		{
      <form asp-controller="Place" asp-action="Index" method="get">
        <div class="row">
          <div class="col s3">
            <input class="input-field " type="text" name="searchString" id="searchString" placeholder="Search...">
          </div>
          <button type="submit" class="waves-effect waves-light btn">Search</button>
        </div>
      </form>
      <table class="striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>Capacity</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
 
        <tbody>
           @foreach (var place in Model)
          {
            <tr data-id="place-@place.Id">
              <td>@place.Name</td>
              <td>@place.City.Name</td>
              <td>@place.Capacity</td>
              <td>@place.CreatedAt</td>
              <td>
                <a asp-controller="place" asp-action="Edit" asp-route-id="@place.Id">
                  <i class="material-icons" role="presentation">edit</i>
                </a>
                @if (@place.DeletedAt != null)
                {
                    <a asp-controller="place" asp-action="Delete" asp-route-id="@place.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="place" asp-action="Delete" asp-route-id="@place.Id" asp-route-actionType="4">
                      <i class="material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="place" asp-action="Delete" asp-route-id="@place.Id" asp-route-actionType="3">
                  <i class="material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
      }
      else
      {
          <p>No places in the database!</p>
      }
</div>