@model Bnbooking.Models.ViewModels.PlaceViewModel
@{
    ViewBag.Title = "Place Management";
    ViewBag.SubTitle = "Manage all the Places on your SAAS platform";
    ViewBag.Description = "Create a Place via the form or go back to the list of Places.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
<div class="bnb-card">
    <h2 class="title">Create a Place</h2>
          <div class="form-holder">
            <form asp-controller="Place" asp-action="Create" method="post" asp-antiforgery="true">
                <div class="input-field">
                    <label asp-for="Place.Name">Name</label>
                    <input class="input-field" asp-for="Place.Name">     
                </div> 
                <div class="input-field">
                    <label asp-for="Place.Description">Description</label>
                    <input class="input-field" asp-for="Place.Description">          
                </div>
                <div class="input-field">
                    <label asp-for="Place.Capacity">Capacity</label>
                    <input class="input-field" asp-for="Place.Capacity">          
                </div>
                <div class="input-field">
                    <p><label asp-for="Place.City">City</label></p>
                    <br><br>
                    <select asp-for="Place.CityId" asp-items="Model.Cities"></select>  
                </div>
                <div class="input-field">
                    <label asp-for="Place.HouseType">HousType</label>
                    <br><br>
                    <select asp-for="Place.HouseTypeId" asp-items="Model.HouseTypes"></select> 
                </div>
                <div class="input-field">
                    <label asp-for="Place.RentalType">RentalType</label>
                    <br><br>
                    <select asp-for="Place.RentalTypeId" asp-items="Model.RentalTypes"></select> 
                </div>
                <div class="input-field">
                    <label asp-for="Place.CancelType">CancelType</label>
                    <br><br>
                    <select asp-for="Place.CancelTypeId" asp-items="Model.CancelTypes"></select> 
                </div>
                <br><br>
                <button type="submit" class="waves-effect waves-light btn">Save</button>
            </form>
          </div>
        </div>
    </div>
</div>