@model Bnbooking.Models.ViewModels.ActionPlaceViewModel
@{
    ViewBag.Title = "Place Management";
    ViewBag.SubTitle = "Manage all the Places on your SAAS platform";
    ViewBag.Description = "Create an Place via the form or go back to the list of Places.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
<div class="bnb-card">
            <h2 class="title">Delete an existing Place</h2>
          <div class="form-holder">
            <p>Do you wish to @Model.Action the place @Model.BaseEntity.Name?</p>
            <form asp-controller="Place" asp-action="Delete" method="post" asp-antiforgery="true">
                <input asp-for="BaseEntity.Id" type="hidden">
                <input asp-for="BaseEntity.Name" type="hidden">
                <input asp-for="ActionType" type="hidden">
                <button type="submit" class="waves-effect waves-light btn">@Model.Action</button>
            </form>
          </div>
        </div>
    </div>
</div>