@model ICollection<Bnbooking.Models.Place>
@{
    ViewBag.Title = "Place Management";
    ViewBag.SubTitle = "Manage all the Places on your SAAS platform";
    ViewBag.Description = "Select a Place to edit or select multiple Places to do export functions or mass asignment to them";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
    <div class="bnb-card">
        <h2 class="title">List of Places</h2>       
        @Html.Partial("_ListPartial", @Model)
    </div>