@model ICollection<Bnbooking.Models.City>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <form asp-controller="City" asp-action="Index" method="get">
        <div class="row">
          <div class="col s3">
            <input class="input-field " type="text" name="searchString" id="searchString" placeholder="Search...">
          </div>
          <button type="submit" class="waves-effect waves-light btn">Search</button>
        </div>
      </form>
      <table class="striped">
        <thead>
          <tr>
            <th><a asp-controller="City" asp-action="Index" asp-route-sortParam="@ViewBag.NameSortParam">Name</a></th>
            <th><a asp-controller="City" asp-action="Index" asp-route-sortParam="@ViewBag.CountrySortParam">Country</a></th>  
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var city in Model)
          {
            <tr data-id="city-@city.Id">
              <td>@city.Name</td>
              <td>@city.Country</td>
              <td>@city.CreatedAt</td>
              <td>
                <a asp-controller="City" asp-action="Edit" asp-route-id="@city.Id">
                  <i class="material-icons" role="presentation">edit</i>
                </a>
                @if (@city.DeletedAt != null)
                {
                    <a asp-controller="City" asp-action="Delete" asp-route-id="@city.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="City" asp-action="Delete" asp-route-id="@city.Id" asp-route-actionType="4">
                      <i class="material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="City" asp-action="Delete" asp-route-id="@city.Id" asp-route-actionType="3">
                  <i class="material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No Cities in the database!</p>
}
</div>