@model Bnbooking.Models.City
@{
    ViewBag.Title = "City Management";
    ViewBag.SubTitle = "Manage all your groups via this platform";
    ViewBag.Description = "Create an cities via the form or got back to the list of cities ...";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
<div class="bnb-card">
    <h2 class="title">Create a City</h2>
          <div class="form-holder">
            <form asp-controller="City" asp-action="Create" method="post" asp-antiforgery="true">
                <div class="input-field">
                    <input class="input-field" asp-for="Name">
                    <label asp-for="Name">Name</label>
                </div>
                <div class="input-field">
                    <input class="input-field" asp-for="PostalCode">
                    <label asp-for="PostalCode">PostalCode</label>
                </div>
                <div class="input-field">
                    <input class="input-field" asp-for="Country">
                    <label asp-for="Country">Country</label>
                </div>
                <div class="input-field">
                    <input class="input-field" asp-for="Description">
                    <label asp-for="Description">Description</label>
                </div>
                <button type="submit" class="waves-effect waves-light btn">Create</button>
            </form>
          </div>
        </div>
    </div>
</div>