@model Bnbooking.Models.ViewModels.ActionCityViewModel
@{
    ViewBag.Title = "City Management";
    ViewBag.SubTitle = "Manage all the cities on your SAAS platform";
    ViewBag.Description = "Create an city via the form or go back to the list of cities.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
<div class="bnb-card">
            <h2 class="title">@Model.Action an existing City</h2>
          <div class="form-holder">
            <p>Do you wish to @Model.Action the city @Model.BaseEntity.Name?</p>
            <form asp-controller="City" asp-action="Delete" method="post" asp-antiforgery="true">
                <input asp-for="BaseEntity.Id" type="hidden">
                <input asp-for="BaseEntity.Name" type="hidden">
                <input asp-for="BaseEntity.Description" type="hidden">
                <input asp-for="ActionType" type="hidden">
                <button type="submit" class="waves-effect waves-light btn">@Model.Action</button>
            </form>
          </div>
        </div>
    </div>
</div>