@model Bnbooking.Models.City
@{
    ViewBag.Title = "City Management";
    ViewBag.SubTitle = "Manage all the cities on your SAAS platform";
    ViewBag.Description = "Edit an existing city via the form or go back to the list of cities.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
        <div class="bnb-card">
            <h2 class="title">Edit an existing City</h2>
          <div class="form-holder">
            <form asp-controller="City" asp-action="Edit" method="post" asp-antiforgery="true">
                <input asp-for="Id" type="hidden">
                <div class="input-field">
                    <input class="input-field" asp-for="Name">
                    <label asp-for="Name">Name</label>
                </div>
                <div class="input-field">
                    <input class="input-field" asp-for="Description">
                    <label asp-for="Description">Description</label>
                </div>
                <div class="input-field">
                    <input class="input-field" asp-for="Country">
                    <label asp-for="Country">Country</label>
                </div>
                <div class="input-field">
                    <input class="input-field" asp-for="PostalCode">
                    <label asp-for="PostalCode">PostalCode</label>
                </div>
                <button type="submit" class="waves-effect waves-light btn">Save</button>
            </form>
          </div>
        </div>
    </div>
</div>