@model ICollection<Bnbooking.Models.City>
@{
    ViewBag.Title = "City Management";
    ViewBag.SubTitle = "Manage all your cities via this platform";
    ViewBag.Description = "Select an cities to edit ...";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="overview">
    @Html.Partial("_QuickActionsPartial")
</div>
   <div class="bnb-card">
        <h2 class="title">List of Cities</h2>       
        @Html.Partial("_ListPartial", @Model)
    </div>