@{
    ViewBag.Title = "Dashboard";
    ViewBag.SubTitle = "Overview and statistics";
    ViewBag.Description = "Dashboard overview and statistics";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
</div> <!-- closing de header div (to use whole container -->
        <div class="row">
            <div class="col s4">
                <div class="card pink darken-4">
                    <a asp-controller="Place" asp-action="Index">
                        <div class="card-content white-text">
                            <span class="card-title">@await Component.InvokeAsync("AmountForEntity", new { entityType = "Place"})</span>
                        </div>
                    </a>
                    <div class="card-action">
                        <a asp-controller="Place" asp-action="Index">View all</a>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card blue darken-2">
                    <a asp-controller="City" asp-action="Index">
                        <div class="card-content white-text">
                            <span class="card-title">@await Component.InvokeAsync("AmountForEntity", new { entityType = "City"})
                        </div>
                    </a>    
                    <div class="card-action">
                        <a asp-controller="City" asp-action="Index">View all</a>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card green darken-1">
                    <a asp-controller="Service" asp-action="Index">
                        <div class="card-content white-text">
                            <span class="card-title">@await Component.InvokeAsync("AmountForEntity", new { entityType = "Service"})</span>
                        </div>
                    </a>
                    <div class="card-action">
                        <a asp-controller="Service" asp-action="Index">View all</a>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card red darken-1">
                    <a asp-controller="Person" asp-action="Index">
                        <div class="card-content white-text">
                            <span class="card-title">@await Component.InvokeAsync("AmountForEntity", new { entityType = "Person"})</span>
                        </div>
                    </a>
                    <div class="card-action">
                        <a asp-controller="Person" asp-action="Index">View all</a>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card brown darken-1">
                    <a asp-controller="BedType" asp-action="Index">
                        <div class="card-content white-text">
                            <span class="card-title">@await Component.InvokeAsync("AmountForEntity", new { entityType = "BedType"})</span>
                        </div>
                    </a>
                    <div class="card-action">
                        <a asp-controller="BedType" asp-action="Index">View all</a>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card  red darken-4">
                    <a asp-controller="Discount" asp-action="Index">
                        <div class="card-content white-text">
                            <span class="card-title">@await Component.InvokeAsync("AmountForEntity", new { entityType = "Discount"})</span>
                        </div>
                    </a>
                    <div class="card-action">
                        <a asp-controller="Discount" asp-action="Index">View all</a>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card deep-purple darken-3">
                    <a asp-controller="Discount" asp-action="Index">
                        <div class="card-content white-text">
                            <span class="card-title">@await Component.InvokeAsync("AmountForEntity", new { entityType = "CancelType"})</span>
                        </div>
                    </a>
                    <div class="card-action">
                        <a asp-controller="CancelType" asp-action="Index">View all</a>
                    </div>
                </div>
            </div>
        </div>
  
