/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
.body-content{
    padding-top: 60px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*detail*/
.detail label{
    color: #243e4e;
    font-size: 1.4rem;
    display: block;
    width: 100%;
    margin-top: 30px;
}
.detail input, select{
    width: 100%;
    display: block
}
.label .input-field{
    display: inline-block;
    width: 49%;

}
.form-holder{
    margin-top: -300px;
}
/*slider detail*/
.slider {
  margin: 0 auto;
  max-width: 1120px;
  margin-top: 40px;
}

.slide_viewer {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  /*background: #D7A151;*/
  background: url("../images/room1.jpg");
}

.slide:nth-of-type(2) {
  /*background: #F4E4CD;*/
  background: url("../images/room2.jpg");
  
}

.slide:nth-of-type(3) {
  /*background: #C75534;*/
  background: url("../images/room3.jpg");
}

.slide:nth-of-type(4) {
  /*background: #D1D1D4;*/
  background: url("../images/room4.jpg");
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {

  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}
/* MAIN Style */
.content {
    padding-top: 100px;
}
.filters {
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-bottom: 100px;
}

input[type=date], input[type=text], select, input[type=number]  {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrap{
    width: 100%;
}


select, input[type=text] {
    padding: 15px 20px 15px 40px;
}
.search {
    width: 50%;
    display: inline;
    margin: auto;
}
address {
    width:100%;
    margin:auto;
    text-align: center;
    line-height: 4em;
    margin-bottom:14px;
}

address p {
    font-size: 20px;
}

.form-horizontal p a{
    color: #243e4e;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    transition: 0.3s;;
}
.center{
    margin:auto;
    text-align: center;
    margin-bottom:25px;
}

.btn-default {
    margin:25px;
    padding: 10px 0px;
    background-color:#b4ea1f;
    color: #243e4e;
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-family: 'Raleway', sans-serif;
    transition: 0.3s;  
    width:60%;  
}

.btn-default:hover {
    background-color: #243e4e;
    color: #b4ea1f;
    transition: 0.3s;
}

.form-horizontal p a:hover{
    color: #b4ea1f;
    transition: 0.3s;
}
.form-group {
    display: inline-block;
    width: 100%;
    text-align: left;
}
#header{
    background-color: #243e4e;
    min-height: 50px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index: 500;
}
.full{
    width: 100%;
}
/*toggle*/
	nav[role=navigation] {
			clear: both;
			-webkit-transition: all 0.3s ease-out;  
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}
        .logotoggle{
            width: 40%;
            height: 32px;
            margin-top: 10px;
            display: inline-block;
            font-size: 1.4rem;
            line-height: 2.2rem;

            
            
        }
        .logotoggle a{
            text-decoration: none;
        }
        .logotoggle h1 a{
            color: white;
            opacity: 0.8;
        }
        .logotoggle h1 strong a{
            color: #b4ea1f; 
        }
        
		.js nav[role=navigation] {
			overflow: hidden;
			max-height: 0;
		} 
		nav[role=navigation].active {
			max-height: 50em;
		}
        .menu-link{
            display: block;  
            width: 30px;         
            float: right;
            text-decoration: none;
            color: white;
            opacity: 0.8;   
            margin-top: 10px;        
        }
       
       
		nav[role=navigation] ul {
			margin: 0;
			padding: 0;			
		}
		nav[role=navigation] li a {
            text-align: center;
            color:white;
             opacity: 0.8;
            text-decoration: none;
            transition: 0.3s;
			display: block;          
			padding: 1.4rem;
			border-bottom: 1px solid #808080;
		}
        nav[role=navigation] li:first-of-type a {
            display: none;

		}
    
        nav[role=navigation] li:last-of-type a {
         
            border-bottom: 0px;
		}
        nav[role=navigation] li{
            padding: 0px;
            list-style-type: none;
   
        }
      nav[role=navigation] .grid-pad{
                padding: 0px;
            }
@media screen and (min-width: 55.25em) {
			a.menu-link {
			   display: none;
			}
			.js nav[role=navigation] {
				max-height: none;
			}
			nav[role=navigation] ul {
				margin: 0 0 0 -0.25em;
				border: 0;
			}
            .logotoggle{
                display: none;
            }
			
			nav[role=navigation]  li {
				display: inline-block;
				margin: 0 0.25em;
			}
			nav[role=navigation] li a {
				border: 0;
                width: auto;
                padding: 0.8rem;
			}
            #bnb{
                padding: 0px;
                display: inline-block;
            }
            #header li:first-of-type {
                float: left;
                font-size: 26px;
                margin-left: 25px;
                margin-top: 8px;
                opacity: 1;
            }
            #header .grid-pad{
                padding-bottom: 5px;
            }
            #header li h1 strong a {
                color: #b4ea1f;
                opacity: 1;
            }
            #header li {
                list-style-type: none;
                display: inline;
                float: right;
                padding: 10px;
            }
            #header a {
                color:white;
                opacity: 0.8;
                text-decoration: none;
                transition: 0.3s;
            }

            #header a:hover {
                color:white;
                opacity: 1;
                text-decoration: none;
                transition: 0.3s;
            }
         
		}

        


body {
    font-family: 'Open Sans', sans-serif;
}



.bg {
    background-color: #243e4e;
    margin-top: 20px; 

}
.col-1-3{
    padding-top: 20px;
}
#pricefrom, #priceto{
    width: 100px;   
}
#departure, #arrival{
    width: 200px;
}
.title {
    text-align: center;
    text-transform: uppercase;
    color: #243e4e;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px; 
}
.nooverflow{
       overflow: hidden;
}

.img-city {
    background-size: contain;          
    background-repeat: no-repeat;
    background-position: center center;   
    height: 330px;
   
  
    display: block;
}

.row a{
    text-decoration: none;
}
.imtext{
    text-align: center;
    text-transform: uppercase;
    color: #b4ea1f;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    padding-top:15px;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.nopadding{
    padding: 0px;
}
/*error reporting*/
.error{
    width: 100vw;
    height: 100vh;
    display: block;
    text-align: center;
    vertical-align: middle;
}
/*login*/
.login80{
    width: 80%;
    margin: 0 auto;
}
.login80 label{
        display: block;
        color: #243e4e;
        font-size: 1.4rem;
        width: 100%;
        padding: 10px 0px;
        
    }
    .login80 input{
        height: 27px;
        width: 100%;
    }
    .btn-default{
        padding: 10px 0px;
    }
    #RememberMe{
        width: 20px;
        display: inline-block;
    }
    label[for="RememberMe"] {
        display: inline-block;
        width: 200px;
    }
    .checkbox{
        padding: 10px 0px;
    }
@media screen and (min-width: 55.25em){
    .login80{
    width: 60%;
    margin: 0 auto;
    }
    .login80 label{
        display: block;
        color: #243e4e;
        font-size: 1.4rem;
        width: 100%;
        padding: 10px 0px;
        
    }
    .login80 input{
        height: 27px;
        width: 100%;
    }
    #RememberMe{
        width: 20px;
        display: inline-block;
    }
    label[for="RememberMe"] {
        display: inline-block;
        width: 200px;
    }
    .checkbox{
        padding: 10px 0px;
    }
}
/*show more*/

.read-more-state {
display: none;
}

.read-more-target {

  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}
.moreless{
    margin-top: 20px;
    width: 78.5%;
    text-align: right;

 

}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before{
    font-size: 30px;
    font-family: FontAwesome;
  content: "\f00a";
}

.read-more-state:checked ~ .read-more-trigger:before{
    font-size: 30px;
    font-family: FontAwesome;
  content: "\f009";
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: white;
  font-size: .9em;
  line-height: 2; 
}

/* Other style */ 




/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}
#footer h1{
    padding: 30px 0px;
    font: inherit;
    font-size: 1.5rem;
    opacity: 0.8;
    transition: 0.3s;
}
#footer h1:hover, #footer p:hover{
opacity: 1;
 transition: 0.3s;
}
#footer p{
    font: inherit;
    padding: 10px 0px;
    opacity: 0.8;
    transition: 0.3s;

}

#footer a{
    text-decoration: none;
}

#footerbnb{
    color: #b4ea1f;
}
.foorterhr{
    margin: 20px 0px;
}
.footercontent{
    background-color: #243e4e;
}
.footercontent, .footercontent a{
    margin-top: 20px;
    color: white; 
    
  
    font-family: 'Raleway', sans-serif;
   

 
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}


