@model Bnbooking.Models.ViewModels.AmountForEntityViewModel


        <div class="viz-amount viz-amount--@Model.EntityType.ToLower()">
        <span class="viz-amount__amount">@Model.Amount <small>@if(@Model.Amount != 1){@Model.PluralizeName}else{@Model.Name}</small></span>
        @switch(Model.EntityType)
        {
            case "City":
                <i class="medium material-icons">business</i>
                break;
            case "Place":
                <i class="medium material-icons">location_on</i>
                break;
            case "Service":
                <i class="medium material-icons">settings_remote</i>
                break;
            case "Person":
                <i class="medium material-icons">recent_actors</i>
                break;
            case "BedType":
                <i class="fa fa-bed"></i>
                break;
            case "Discount":
                <i class="fa fa-tags"></i>
                break;      
            case "CancelType":
                <i class="medium material-icons">no_sim</i>
                break;                  
        }
        </div>

